.container {
    width: 95%;
    margin: auto;
}
#top-menu {
    width: 100%;
    height: 70px;
    background-color: black;
    padding: 20px 0;
    overflow: auto;
}
#top-menu .fab {
    color: #fff;
    font-size: 1.7em;
    margin-left: 20px;
}
#top-menu .far {
    color: #fff;
    font-size: 1.7em;
    margin-left: 20px;
}
.social {
    float: right;
}
#wallpaper {
    width: 100%;
    height: 50vh;
    background: url("img/header-pic.jpg") center/cover no-repeat;
}
main {
    padding: 80px 0;
    background-color: black;
}
#info {
    overflow: auto;
    width: 100%;
}
#owner-pic {
    float: left;
    position: relative;
    width: 25%;
    height: 300px;
    margin-right: 15%;
}
#owner-pic img {
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    z-index: 1;
}
#shadow {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 100%;
    height: 300px;
    background-color:rgba(0, 119, 255, 0.747);
    border-radius: 10px;
}
#about {
    float: left;
    width: 60%;
    padding: 10px;
}
.change-menu li {
    cursor: pointer;
    display: inline;
    color: rgba(0, 119, 255, 0.747);
    font-size: 1.7em;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
    background-color: #222;
    padding: 10px 40px;
}
#content {
    width: 100%;
    min-height: 280px;
    background-color: #222;
    margin-top: 17px;
    overflow: auto;
    padding-left: 30px;
}
.list {
    width: 100%;
}
.list li {
    font-size: 1.2em;
    color: rgba(0, 119, 255, 0.747);
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
    padding: 13px;
    list-style: square;
}
.list span {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
}
#skills {
    width: 100%;
    margin-top: 10px;
}
#skills-area {
    width: 100%;
    min-height: 280px;
    margin-top: 17px;
    background-color: #222;
    overflow: auto;
}
#skills-area .list {
    width: 40%;
    float: left;
    margin-right: 10%;
}
#skills-area ul:first-child {
    padding-left: 30px;
}
#skills-area .list li b {
    float: left;
}
.rate {
    position: relative;
    display: inline;
    float: right;
    width: 60%;
    height: 18px;
    border: solid 1px black;
    overflow: hidden;
}
.percentage {
    height: 16px;
    position: absolute;
    background-color: rgba(0, 119, 255, 0.747);
    top: 0;
}
footer {
    width: 100%;
    background-color: rgb(212, 209, 204);
    padding: 20px 0;
    overflow: auto;
}
footer .fab {
    color: rgb(5, 5, 5);
    font-size: 1.2em;
    margin-left: 20px;
}
footer .far {
    color: rgb(5, 5, 5);
    font-size: 1.2em;
    margin-left: 20px;
}
footer p {
    display: inline;
}
footer a {
    color: black;
    font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
    main {
        padding: 10px 0;
    }
    #owner-pic {
        width: 100%;
    }
    #owner-pic img {
        width: 90%;
    }
    #shadow {
        right: 0;
        width: 90%;
    }
    .change-menu li {
        font-size: .9em;
        padding: 10px;
    }
    #about {
        width: 100%;
        margin-top: 40px;
        padding-left: 0;
        padding-right: 0;
    }
    .list li {
        font-size: 0.9em;
    }
    #skills .change-menu li {
        text-align: center;
        float: left;
        padding: 10px 0;
        display: block;
        width: 49%;
        margin-bottom: 5px ;
    }
    #skills .change-menu li:first-child {
        margin-right: 2%;
    }
    #skills .change-menu li:last-child {
        width: 100%;
        margin: 0 0 5px 0;
    }
    #skills-area .list {
        width: 100%;
        padding-left: 30px;
    }
    footer p {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
    .social {
        float: left;
    }
}