.container {
    width: 95%;
    margin: auto;
}
#top-menu {
    width: 100%;
    height: 70px;
    background-color: black;
    padding: 20px 0;
    overflow: auto;
}
#top-menu .fab {
    color: #fff;
    font-size: 1.7em;
    margin-left: 20px;
}
#top-menu .far {
    color: #fff;
    font-size: 1.7em;
    margin-left: 20px;
}
.social {
    float: right;
}
#wallpaper {
    width: 100%;
    height: 50vh;
    background: url("img/header-pic.jpg") center/cover no-repeat;
    position: relative;
    z-index: 0;
}
main {
    padding: 80px 0;
    background-color: black;
}
#info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#owner-pic {
    position: relative;
    width: 300px;
    height: 350px;
    margin-right: 15%;
}
#owner-pic img {
    position: absolute;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    z-index: 1;
}
#shadow {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 100%;
    height: 350px;
    background-color:rgba(0, 119, 255, 0.747);
    border-radius: 10px;
}
#about {
    width: 60%;
    padding: 10px;
}
.change-menu {
    display: flex;
}
.change-menu li {
    cursor: pointer;
    display: inline;
    color: rgba(0, 119, 255, 0.747);
    font-size: 1.5em;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
    background-color: #222;
    padding: 10px 7%;
    margin-right: 5px;
}
#content {
    width: 100%;
    min-height: 280px;
    background-color: #222;
    margin-top: 5px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}
#download-cv {
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to bottom, rgba(0, 119, 255, 0.747), rgb(192, 192, 192, 0.3) , rgba(0, 119, 255, 0.747));
    border: none;
    outline: none;
    border-radius: 6px;
    margin-top: 5px;
    margin-right: 5px;
}
#download-cv a {
    color: #000000;
    font-weight: bold; 
    font-size: 1.5em;
}
#download-cv:hover {
    background-image: linear-gradient(to bottom, rgb(192, 192, 192, 0.3) , rgba(0, 119, 255, 0.747), rgb(192, 192, 192, 0.3));
}
.list li {
    font-size: 1.2em;
    color:rgba(0, 119, 255, 0.747);
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
    padding: 13px 0;
    list-style: square;
}
.list span {
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
}
#skills {
    width: 100%;
    margin-top: 60px;
}
#skills .change-menu li {
    padding: 10px 2%;
}
#skills-area {
    width: 100%;
    min-height: 280px;
    margin-top: 5px;
    background-color: #222;
    overflow: auto;
}
#skills-area .list {
    width: 44%;
    float: left;
    margin-right: 6%;
}
#skills-area ul:first-child {
    padding-left: 30px;
}
#skills-area .list li b {
    float: left;
}
.rate {
    position: relative;
    display: inline;
    float: right;
    width: 60%;
    height: 18px;
    border: solid 1px black;
    overflow: hidden;
}
.percentage {
    height: 16px;
    position: absolute;
    background-color: rgba(0, 119, 255, 0.747);
    top: 0;
}
.projectarea {
    margin: 5px 0;
}
.projectarea .change-menu {
    margin-bottom: 5px;
}
.listprojects {
    display: flex;
    background-color: #222;
    justify-content: space-between;
    
    padding: 10px;
}
.single-project {
    width: 30%;
    border-radius: 10px;
    background-color: #333;
    padding: 4px 4px 10px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.single-project:hover {
    box-shadow: 0 0 5px 2px #fff;
}
.screen {
    position: relative;
    width: 100%;
    height: 30vh;
}
.single-project img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 7px #000;
}
@keyframes rotate {
    from {width: 10%;top: 0%; left: 2%;}
    to {width: 9%;top: 0%; left:90%; border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
  }
.effect {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 0px;
    height: 100%;
    background-color: rgb(192, 192, 192, 0.3);
    backdrop-filter: blur(5px);
}
.single-project .screen:hover .effect{
    animation-name: rotate;
    animation-duration: 1s;
}
.single-project .list {
    padding-left: 20px;
}
.project-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.project-buttons i {
    margin-right: 5px;
}
.btn-live {
    background-image: linear-gradient(to bottom, rgba(0, 119, 255, 0.747), rgb(192, 192, 192, 0.3) , rgba(0, 119, 255, 0.747));
    box-shadow: 5px 5px 5px #000;
    width: 45%;
    min-width: 80px;
    height: 40px;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: bold;
    outline: none;
    border: none;
}
.btn-code {
    background-image: linear-gradient(to bottom, rgba(0, 119, 255, 0.747), rgb(192, 192, 192, 0.3) , rgba(0, 119, 255, 0.747));
    box-shadow: 5px 5px 5px #000;
    width: 45%;
    min-width: 80px;
    height: 40px;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: bold;
    outline: none;
    border: none;
}
.btn-live:hover, .btn-code:hover {
    background-image: linear-gradient(to bottom, rgb(192, 192, 192, 0.3) , rgba(0, 119, 255, 0.747), rgb(192, 192, 192, 0.3));
}
.btn-live a, .btn-code a {
    color: #000;
}
footer {
    width: 100%;
    background-color: rgb(212, 209, 204);
    padding: 20px 0;
    overflow: auto;
}
footer .fab {
    color: rgb(5, 5, 5);
    font-size: 1.2em;
    margin-left: 20px;
}
footer .far {
    color: rgb(5, 5, 5);
    font-size: 1.2em;
    margin-left: 20px;
}
footer p {
    display: inline;
}
footer a {
    color: black;
    font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
    main {
        padding: 10px 0;
    }
    #owner-pic {
        width: 100%;
    }
    #owner-pic img {
        width: 90%;
    }
    #shadow {
        right: 0;
        width: 90%;
    }
    .change-menu li {
        font-size: .9em;
        padding: 10px;
    }
    #about {
        width: 100%;
        margin-top: 40px;
        padding-left: 0;
        padding-right: 0;
    }
    #info {
        flex-wrap: wrap;
    }
    #content {
        flex-wrap: wrap;
    }
    .list li {
        font-size: 0.9em;
    }
    .change-menu {
        flex-wrap: wrap;
    }
    #skills .change-menu li {
        text-align: center;
        padding: 10px 0;
        display: block;
        width: 49%;
        margin-bottom: 5px ;
        margin-right: 0;
    }
    #skills .change-menu li:first-child {
        margin-right: 2%;
    }
    #skills .change-menu li:last-child {
        width: 100%;
        margin: 0;
    }
    #skills-area .list {
        width: 100%;
        padding-left: 30px;
    }
    footer p {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
    .social {
        float: left;
        padding-left: 30px;
    }
    .listprojects {
        flex-wrap: wrap;
    }
    .single-project {
        width: 100%;
        margin-bottom: 10px;
    }
    .btn-live, .btn-code {
        font-size: 0.9em;
    }
}