html {
  scroll-behavior: smooth;
}
.container {
	max-width: 1110px;
	margin: auto;
}
header .container {
	position: relative;
}
header {
	height: 100vh;
	background: #0a0a0a url('img/nergiz.jpg') center/cover  ;
}
#logo, #topmenu, #title {
	position: absolute;
}
#logo {
	top: 60px;
}
#topmenu {
	top: 65px;
	right: 0;
}
#title {
	top: 40vh;
	color: #fff;
	text-align: center;
}
#title h1 {
	font: normal 4.5em 'Open Sans';
	text-transform: uppercase;
}
#title p {
	padding: 0 15%;
}
p { 
	font: 1em/2 Verdana;
	/* line-height: 2; */
}
#topmenu li {
	display: inline-block;
	padding: 0 25px;
}
#topmenu li a {
	font: 1em Verdana;
	color: #fff;
}
#story, #recipe, #menu {
	padding: 120px 0;
}
#story {
	background: #962323;
	color: #fff;
	text-align: center;
}
#story .container {
	overflow: auto;
}
#story img {
	width: 40%;
	height: 40vh;
	margin: 0 10% 0 0;
	float: left;
	object-fit: cover;
}
#story article {
	width: 50%;
	float: left;
}
hr {
	width: 110px;
	border: 0;
	border-top: 2px solid #fff;
	margin: 13px auto 55px auto;
}
h2 {
	font: 3.5em 'Engagement', cursive;
}
h3 {
	font: bold 1em Verdana;
	color: #0b0c0d;
	text-transform: uppercase;
}
h3 span {
	color: #c8235d;
	float: right;
}
h4 {
	font: 1.1em Verdana;
	margin: 0 0 45px 0; 
}
#recipe {
	background: #1e2126 url('img/bg.jpg') right/cover no-repeat;
	color: #fff;
	text-align: center;
}
#recipe p {
	max-width: 510px;
	margin: auto;
	/* padding: 0 25%; */
}
#menu hr, #recipe hr {
	border-top-color: #c8235d;
}
#menu {
	background: #f3f4f7;
	padding: 120px 0 0 0;
}
#menu .container div {
	column-count: 2;
	column-gap: 17%;
}
#menu article {
	padding: 0 0 60px 0;
}
#menu h2 {
	text-align: center;
}
#gallery {
	white-space: nowrap;
	overflow: hidden;
}
#footer1 {
	padding: 85px 0;
	background: #25262a;
	color: #fff;
}
#footer1 .container {
	overflow: auto;
}
#footer1 section {
	float: left;
	width: 17%;
	padding: 0 0 0 40px;
}
#footer1 section:first-child {
	width: 25%;
	padding: 0;
}
#footer1 section:last-child {
	width: 24%;
	padding: 0 0 0 30px;
}
#footer1 img {
	margin: 0 0 50px 0;
}
#footer1 a {
	font: .9em/2.5 Verdana;
	color: #fff;
	white-space: nowrap;
}
#footer1 i {
	color: #c0235a;
	margin: 0 15px 0 0;
}
#footer2 {
	padding: 60px 0 40px 0;
	background: #16171b;
	color: #8b8b8d;
}
#footer2 .container {
	overflow: auto;
}
#footer2 p, #footer2 .container div {
	float: left;
	min-width: 25%;
}
#footer2 a {
	font: 1em Verdana;
	color: #8b8b8d;
	margin: 0 15px;
}
#icons {
	text-align: right;
}
#icons i {
	margin: 0 10px;
}
#icons i:hover {
	cursor: pointer;
	color: #fff;
}
#footer2 p {
	line-height: 1;
	padding: 0 80px 0 0;
}
#up {
	position: fixed;
	right: 10px;
	bottom: 10px;
	font-size: 2.5em;
	color: #fff;
}



@media only screen and (max-width: 768px) {
	#title h1 {
		font-size: 2em;
	}
	#logo {
		top: 30px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	#topmenu {
		width: 100%;
		text-align: center;
	}
	#topmenu li {
		display: block;
	}
	#story img, #story article {
		width: 100%;
	}
	#menu .container div {
		column-count: 1;
		padding: 0 10px;
	}
	#gallery img {
		width: 100%;
	}
	#footer1 section {
		width: 33%;
		padding: 0 10px;
		text-align: center;
	}
	#footer1 section:first-child, 
	#footer1 section:last-child {
		width: 100%;
		padding: 0 10px;
	}
	h4 {
		margin: 40px 0 20px 0;
	}
	#footer2 p, 
	#footer2 .container div {
		width: 100%;
		text-align: center;
		padding: 20px 0;
	}
}




